@using eProject3_Vehicle_Showroom_Management.Models;

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string email = "";
    if (HttpContext.Current.Session["Customer"] == null && Request.Cookies["Email"] == null)
    {
        email = "";
    }
    else if (HttpContext.Current.Session["Customer"] != null)
    {
        email = HttpContext.Current.Session["Customer"].ToString();
    }
    else if (Request.Cookies["Email"] != null)
    {
        email = Request.Cookies["Email"].Value;
    }

    List<eProject3_Vehicle_Showroom_Management.Models.CartItem> objlt = new List<eProject3_Vehicle_Showroom_Management.Models.CartItem>();
    if (HttpContext.Current.Session["cart"] != null)
    {
        objlt = (List<eProject3_Vehicle_Showroom_Management.Models.CartItem>)HttpContext.Current.Session["cart"];

    }
    decimal total = 0;
    foreach (var item in objlt)
    {
        total += item.Product.Price * item.Quantity;
    }
}

<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title">
                    <h2>Shopping Cart</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BEGIN Main Container -->

<div class="main-container col1-layout wow bounceInUp animated">

    @using (Html.BeginForm("SubmitCart", "Home", FormMethod.Post))
    {
        <div class="main">
            <div class="cart wow bounceInUp animated">

                <div class="table-responsive shopping-cart-tbl  container">
                    <input name="form_key" type="hidden" value="EPYwQxF6xoWcjLUr">
                    <fieldset>
                        <table id="shopping-cart-table" class="data-table cart-table table-striped">
                            <colgroup>
                                <col width="1">
                                <col>
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">
                                <col width="1">

                            </colgroup>
                            <thead>
                                <tr class="first last">
                                    <th rowspan="1">&nbsp;</th>
                                    <th rowspan="1"><span class="nobr">Product Name</span></th>
                                    <th class="a-center" colspan="1"><span class="nobr">Unit Price</span></th>
                                    <th rowspan="1" class="a-center">Quantity</th>
                                    <th class="a-center" colspan="1">Subtotal</th>
                                    <th rowspan="1" class="a-center">&nbsp;</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr class="first last">
                                    <td colspan="50" class="a-right last">
                                        <a href="@Url.Action("ListProduct", "Home")"><button type="button" title="Continue Shopping" class="button btn-continue"><span>Continue Shopping</span></button></a>
                                        <a href="@Url.Action("RemoveAllCart", "Home")"><button type="button" title="Clear Cart" class="button btn-empty" id="empty_cart_button"><span>Clear Cart</span></button></a>

                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                                @if (Session["cart"] != null)
                                {
                                    foreach (CartItem item in (List<CartItem>)Session["cart"])
                                    {
                                        <tr class="odd">
                                            <td class="image hidden-table"><a href="@Url.Action("ProductDetail", "Home", new { id = item.Product.Id })" title="Women&#39;s Georgette Animal Print" class="product-image"><img src="@("data:image;base64," + @item.Product.Images.FirstOrDefault().UrlImage)" width="75" alt="product image"></a></td>
                                            <td>
                                                <h2 class="product-name">
                                                    <a href="@Url.Action("ProductDetail", "Home", new { id = item.Product.Id })">@item.Product.ProductName</a>
                                                </h2>
                                            </td>
                                            <td class="a-right hidden-table">
                                                <span class="cart-price">
                                                    <span class="price">$@Convert.ToDecimal(item.Product.Price).ToString("#,##0")</span>
                                                </span>


                                            </td>
                                            <td class="a-center movewishlist">
                                                <label>@item.Quantity</label>
                                            </td>
                                            <td class="a-right movewishlist">
                                                <span class="cart-price">

                                                    <span class="price">$@Convert.ToDecimal(item.Product.Price * @item.Quantity).ToString("#,##0")</span>
                                                </span>
                                            </td>
                                            <td class="a-center last">

                                                <a href="@Url.Action("RemoveCarInCart", "Home", new { id = item.Product.Id })" title="Remove item" class="button remove-item"><span><span>Remove item</span></span></a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else if (Session["cart"] == null)
                                {
                                    <tr>
                                        <td colspan="4" class="text-center h3">Empty product in cart</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <!-- BEGIN CART COLLATERALS -->
                <div class="cart-collaterals container">
                    <!-- BEGIN COL2 SEL COL 1 -->
                    <!-- BEGIN TOTALS COL 2 -->
                    <div class="col-sm-6">


                        <div class="shipping">

                            <h3>Estimate Shipping and Tax</h3>
                            <div class="shipping-form">
                                    <p>Enter your destination to get a shipping estimate.</p>
                                    <ul class="form-list">
                                        <li>
                                            <label for="country" class="required">Email<em>*</em></label>
                                            <div class="input-box">
                                                <input type="text" class="input-text" value="@email" name="emailUser" readonly />
                                            </div>
                                        </li>
                                        <li>
                                            <label for="country" class="required">Phone Number<em>*</em></label>
                                            <div class="input-box">
                                                <input type="text" class="input-text phone-number" />
                                                <span style="color:red; display:none" class="err-phone">Phone Number can not empty</span>
                                            </div>
                                        </li>
                                        <li>
                                            <label for="address" class="required">Address<em>*</em></label>
                                            <div class="input-box">
                                                <input type="text" class="input-text txtAddress" name="txtAddress" />
                                                <span style="color:red; display:none" class="err-address">Address can not empty</span>
                                            </div>
                                        </li>
                                        <li>
                                            <label for="note" class="required">Note</label>
                                            <div class="input-box">
                                                <input type="text" class="input-text" name="note" />
                                            </div>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="totals">
                            <h3>Shopping Cart Total</h3>
                            <div class="inner">

                                <table id="shopping-cart-totals-table" class="table shopping-cart-table-total">
                                    <colgroup>
                                        <col>
                                        <col width="1">
                                    </colgroup>
                                    <tfoot>
                                        <tr>
                                            <td style="" class="a-left" colspan="1">
                                                <strong>Total</strong>
                                            </td>
                                            <td style="" class="a-right">
                                                <strong><span class="price">$@Convert.ToDecimal(total).ToString("#,##0")</span></strong>
                                                <input hidden name="totalPrice" value="@Convert.ToDecimal(total)" />
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>

                                <ul class="checkout">
                                    <li>
                                        <button type="submit" title="Proceed to Checkout" class="button btn-proceed-checkout"><span>Order</span></button>
                                        <br />
                                    </li>
                                </ul>
                            </div><!--inner-->
                        </div><!--totals-->
                    </div> <!--col-sm-4-->
                </div> <!--cart-collaterals-->
            </div>  <!--cart-->
        </div><!--main-container-->
    }
</div> <!--col1-layout-->


@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript">
        var itemOrder = "@Session["cart"]";
        if (!itemOrder || $('.txtAddress').val() == '' || $('.phone-number') == '' ) {
            $(".btn-proceed-checkout").attr("disabled", "disabled");
        }

        $('.txtAddress').keyup(function () {
            if ($(this).val() === '') {
                $('.err-address').show();
                $(".btn-proceed-checkout").attr("disabled", true);
            } else {
                $('.err-address').hide();
                $(".btn-proceed-checkout").attr("disabled", false);
            }
        });

        $('.phone-number').keyup(function () {
            if ($(this).val() === '') {
                $('.err-phone').show();
                $(".btn-proceed-checkout").attr("disabled", true);
            } else {
                $('.err-phone').hide();
                $(".btn-proceed-checkout").attr("disabled", false);
            }
        });


    </script>
}
