@model IEnumerable<eProject3_Vehicle_Showroom_Management.Models.DTO.ProductDTO>
@using eProject3_Vehicle_Showroom_Management.Constants
@{
    ViewBag.Title = "Home Page";
    var listBrands = ViewBag.listBrands;
    var listAdmins = ViewBag.ListCEO;
    var listCarsTop5 = Model.Where(x => x.ProductType.Contains("Car")).OrderByDescending(x => x.YearOfManufacture).Take(3);
    var minPriceCar = Model.Where(x => x.ProductType.Contains("Car")).OrderBy(c => c.Price).Select(p => p.Price).FirstOrDefault();
    var maxPriceCar = Model.Where(x => x.ProductType.Contains("Car")).OrderBy(c => c.Price).Select(p => p.Price).LastOrDefault();
}

@if (ViewBag.statusOrder != null && ViewBag.statusOrder == "0")
{
    <script type="text/javascript">
        window.onload = function () {
            Swal.fire(
                'Order Success!',
                'You clicked the button!',
                'success'
            )
        };
    </script>
}

@if (ViewBag.statusOrder != null && ViewBag.statusOrder == "1")
{
    <script type="text/javascript">
        window.onload = function () {
            Swal.fire(
                'Order Fail!',
                'You clicked the button!',
                'error'
            )
        };
    </script>
}
<div class="container-fluid content">
    <div class="container-fluid">
        <div class="row">
            <!-- Slider -->
            <div class="home-slider5">
                <div id="thmg-slideshow" class="thmg-slideshow">
                    <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
                        <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
                            <ul>
                                <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='images/slide-img1.jpg'>
                                    <img src="~/Content/images/slide-img1.jpg" data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner" />
                                    <div class="container">
                                        <div class="content_slideshow">
                                            <div class="row">
                                                <div>
                                                    <div class="info">
                                                        <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'><span>Top Brands 2021</span> </div>
                                                        <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap;'><span style="font-weight:normal; display:block">Modern-classic</span> incredible </div>
                                                        <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1450' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'>Get 40% OFF on selected items.</div>
                                                        <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href="@Url.Action("ListProduct", "Home")" class="buy-btn">Book Appointment</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='images/slide-img2.jpg'>
                                    <img src="~/Content/images/slide-img2.jpg" data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner" />
                                    <div class="container">
                                        <div class="content_slideshow">
                                            <div class="row">
                                                <div>
                                                    <div class="info">
                                                        <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'><span>Top Brands 2022</span> </div>
                                                        <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap;'><span style="font-weight:normal; display:block">Modern-classic</span> Decorative </div>
                                                        <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1450' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'>Get 40% OFF on selected items.</div>
                                                        <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href='@Url.Action("ListProduct", "Home")' class="buy-btn">Book Appointment</a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="tp-bannertimer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-filter">
    <div class="b-filter__inner bg-grey container">
        <h2>Find your right car</h2>
        <form class="b-filter" action="/Home/ListProduct/Car?">
            <div class="btn-group bootstrap-select">
                <select class="selectpicker" name="brand" data-width="100%" tabindex="-98">
                    <option hidden>-Select Branch-</option>
                    @foreach (var item in listBrands)
                    {
                        <option>@item.BrandName</option>
                    }
                </select>
            </div>
            <div class="btn-group bootstrap-select">
                <select class="selectpicker" name="transmissionType" data-width="100%" tabindex="-98">
                    <option>-Select Tranmission Type-</option>
                    @foreach (var item in Enum.GetValues(typeof(EnumTransmissionType)))
                    {
                        <option>@item</option>
                    }
                </select>
            </div>
            <div class="ui-filter-slider">
                <div class="sidebar-widget-body m-t-10">
                    <div class="price-range-holder">
                        <span class="min-max"> <span class="pull-left">@minPriceCar</span> <span class="pull-right">@maxPriceCar</span> </span>
                        <input type="text" class="price-slider" name="priceCar" value="@minPriceCar, @maxPriceCar" style="display:block">
                        <input type="hidden" id="minPriceCarHidden" value="@minPriceCar" />
                        <input type="hidden" id="maxPriceCarHidden" value="@maxPriceCar" />
                    </div>
                    <!-- /.price-range-holder -->
                </div>
            </div>
            <div>
                <div class="b-filter__btns" style="z-index: 3;">
                    <button class="btn btn-lg btn-primary" type="submit">search vehicle</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> <a href="#" data-scroll-goto="1"> <img src="~/Content/images/speakers.png" alt="promotion-banner1"> </a> </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> <a href="#" data-scroll-goto="2"> <img src="~/Content/images/schedule.png" alt="promotion-banner2"> </a> </div>
        </div>
    </div>
</div>


<!-- best Pro Slider -->
<section class="wow bounceInUp animated">
    <div class="hot_deals slider-items-products container">
        <div class="new_title">
            <h2>The new car</h2>
            <div class="box-timer">
                <div class="countbox_1 timer-grid"></div>
            </div>
        </div>
        <div id="hot_deals" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4 products-grid">
                @foreach (var item in listCarsTop5)
                {
                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info">
                                    <a href="@Url.Action("ProductDetail", "Home", new { id = item.Id })" title="Retis lapen casen" class="product-image">
                                        <img src="@("data:image;base64," + @item.UrlImages.First())" alt="Retis lapen casen">
                                    </a>
                                    <div class="new-label new-top-left">New</div>
                                    <div class="item-box-hover">
                                        <div class="box-inner">
                                            <div class="add_cart">
                                                <a href="@Url.Action("addToCart", "Home", new { id = item.Id })"><button class="button btn-cart" type="button"></button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a href="@Url.Action("ProductDetail", "Home", new { id = item.Id })" title="Retis lapen casen">@Html.DisplayFor(modelItem => item.ProductName)</a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                @for (var i = 0; i < item.Rating; i++)
                                                {
                                                    <span class="fa fa-star rating-checked" style="color: #f1c40f; font-size: 15px;"></span>
                                                }
                                                <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"><span class="price">$@Convert.ToDecimal(item.Price).ToString("#,##0")</span> </span> </div>
                                        </div>
                                        <div class="other-info">
                                            <div class="col-km"><i class="fa fa-terminal"></i>@Html.DisplayFor(modelItem => item.ProductType)</div>
                                            <div class="col-km"><i class="fa fa-buysellads"></i>@Html.DisplayFor(modelItem => item.Seats)</div>
                                            <div class="col-engine"><i class="fa fa-gear"></i>@Html.DisplayFor(modelItem => item.TransmissionType)</div>
                                            <div class="col-date"><i class="fa fa-calendar" aria-hidden="true"></i>@Html.DisplayFor(modelItem => item.YearOfManufacture)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<!-- Logo Brand Block -->
<div class="brand-logo wow bounceInUp animated">
    <div class="container">
        <div class="row">
            <div class="home-banner col-lg-2 hidden-md col-xs-12 hidden-sm"> </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="testimonials-section">
                    <div class="offer-slider parallax parallax-2">
                        <ul class="bxslider">
                            <li>
                                <div class="avatar"><img src="~/Content/images/default-user.png" alt="Image"></div>
                                <div class="testimonials">Perfect Themes and the best of all that you have many options to choose! Very fast responding! I highly recommend this theme and these people!</div>
                                <div class="clients_author">@*@listAdmins[0].Fullname*@ <span>CEO</span> </div>
                            </li>
                            <li>
                                <div class="avatar"><img src="~/Content/images/default-user.png" alt="Image"></div>
                                <div class="testimonials">Code, template and others are very good. The support has served me immediately and solved my problems when I need help. Are to be congratulated.</div>
                                <div class="clients_author">@*@listAdmins[1].Fullname*@ <span>Co-Founder</span> </div>
                            </li>
                            <li>
                                <div class="avatar"><img src="~/Content/images/default-user.png" alt="Image"></div>
                                <div class="testimonials">Our support and response has been amazing, helping me with several issues I came across and got them solved almost the same day. A pleasure to work with them! </div>
                                <div class="clients_author">@*@listAdmins[2].Fullname*@ <span>Co-Founder</span> </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- best Pro Slider -->
<section class=" wow bounceInUp animated">
    <div class="best-pro slider-items-products container">
        <div class="new_title">
            <h2>Best Seller Cars</h2>
        </div>
        <div id="best-seller" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4 products-grid">
                @foreach (var item in Model)
                {
                    <div class="item">
                        <div class="item-inner">
                            <div class="item-img">
                                <div class="item-img-info">
                                    <a href="@Url.Action("ProductDetail", "Home", new { id = item.Id })" title="Retis lapen casen" class="product-image"><img src="@("data:image;base64," + @item.UrlImages.First())" alt="Retis lapen casen"></a>
                                    <div class="new-label new-top-left">Hot</div>
                                    <div class="sale-label sale-top-left">-15%</div>
                                    <div class="item-box-hover">
                                        <div class="box-inner">
                                            <div class="add_cart">
                                                <a href="@Url.Action("addToCart", "Home", new { id = item.Id })"><button class="button btn-cart" type="button"></button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"><a href="@Url.Action("ProductDetail", "Home", new { id = item.Id })" title="Retis lapen casen">@Html.DisplayFor(modelItem => item.ProductName)</a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating" style="width:100%"></div>
                                                </div>
                                                <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box"><span class="regular-price"><span class="price">$@Convert.ToDecimal(item.Price).ToString("#,##0")</span> </span> </div>
                                        </div>
                                        <div class="other-info">
                                            <div class="col-km"><i class="fa fa-terminal"></i>@Html.DisplayFor(modelItem => item.ProductType)</div>
                                            <div class="col-km"><i class="fa fa-buysellads"></i>@Html.DisplayFor(modelItem => item.Seats)</div>
                                            <div class="col-engine"><i class="fa fa-gear"></i>@Html.DisplayFor(modelItem => item.Brand)</div>
                                            <div class="col-date"><i class="fa fa-calendar" aria-hidden="true"></i>@Html.DisplayFor(modelItem => item.YearOfManufacture)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<div class="logo-brand container">
    <div class="brand-title">
        <h2>Popular Brands</h2>
    </div>
    <div class="slider-items-products">
        <div id="brand-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col6">
                @foreach (var item in listBrands)
                {
                    <div class="item">
                        <div class="logo-item"><a href="#"><img src="@("data:image;base64,"+item.UrlLogo)" width="150" alt="Image"></a></div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

