@model PagedList.IPagedList<eProject3_Vehicle_Showroom_Management.Models.DTO.ProductDTO>
@using eProject3_Vehicle_Showroom_Management.Constants
@using PagedList.Mvc
@{
    ViewBag.Title = "ListProduct";
    ViewBag.Title = "Home Page";
    var listBrands = ViewBag.listBrands;
    var listCarsTop5 = Model.Where(x => x.ProductType.Contains("Car")).OrderByDescending(x => x.YearOfManufacture).Take(5);
    var minPriceCar = ViewBag.minPriceCar;
    var maxPriceCar = ViewBag.maxPriceCar;
    var minPriceAccessories = ViewBag.minPriceAccessories;
    var maxPriceAccessories = ViewBag.maxPriceAccessories;
    var urlCurrent = Request.Url.ToString();
    var notifyNoResult = ViewBag.NoResult;
}

<!--breadcrumbs-->
<!-- BEGIN Main Container col2-left -->
<section class="main-container col2-left-layout bounceInUp animated">
    <!-- For version 1, 2, 3, 8 -->
    <!-- For version 1, 2, 3 -->
    <div class="container">
        <div class="row">
            <div class="col-main col-sm-9 col-sm-push-3 product-grid">
                <div class="pro-coloumn">
                    <article class="col-main">
                        <div class="toolbar">
                            <div id="sort-by">
                                <label class="left">Sort By: </label>
                                <ul>
                                    <li>
                                        @if (urlCurrent.Contains("Car"))
                                        {
                                            <a href="#">@(Request["o"]==null?"Default":Request["o"])<span class="right-arrow"></span></a>
                                            <ul>
                                                @*<li><a href="/Home/ListProduct/Car?o=Name">Name</a></li>
                                                    <li><a href="/Home/ListProduct/Car?o=Price">Price</a></li>
                                                    <li><a href="/Home/ListProduct/Car?o=New">New</a></li>*@
                                                <li><a href="@Url.Action("ListProduct/Car", "Home", new { o = "Name", brand = Request["brand"] == null ? "" : Request["brand"], transmissionType = Request["transmissionType"] == null ? "" : Request["transmissionType"], priceCar = Request["priceCar"] == null ? "" : Request["priceCar"] })">Name</a></li>
                                                <li><a href="@Url.Action("ListProduct/Car", "Home", new { o = "Price", brand = Request["brand"] == null ? "" : Request["brand"], transmissionType = Request["transmissionType"] == null ? "" : Request["transmissionType"], priceCar = Request["priceCar"] == null ? "" : Request["priceCar"] })">Price</a></li>
                                                <li><a href="@Url.Action("ListProduct/Car", "Home", new { o = "New", brand = Request["brand"] == null ? "" : Request["brand"], transmissionType = Request["transmissionType"] == null ? "" : Request["transmissionType"], priceCar = Request["priceCar"] == null ? "" : Request["priceCar"] })">New</a></li>
                                            </ul>
                                        }
                                        else if (urlCurrent.Contains("Accessories"))
                                        {
                                            <a href="#">@(Request["o"]==null?"Default":Request["o"])<span class="right-arrow"></span></a>
                                            <ul>
                                                @*<li><a href="/Home/ListProduct/Accessories?o=Name">Name</a></li>
                                                    <li><a href="/Home/ListProduct/Accessories?o=Price">Price</a></li>
                                                    <li><a href="/Home/ListProduct/Accessories?o=New">New</a></li>*@
                                                <li><a href="@Url.Action("ListProduct/Accessories", "Home", new { o = "Name", brand = Request["brand"] == null ? "" : Request["brand"], transmissionType = Request["transmissionType"] == null ? "" : Request["transmissionType"], priceAccessories = Request["priceAccessories"] == null ? "" : Request["priceAccessories"] })">Name</a></li>
                                                <li><a href="@Url.Action("ListProduct/Accessories", "Home", new { o = "Price", brand = Request["brand"] == null ? "" : Request["brand"], transmissionType = Request["transmissionType"] == null ? "" : Request["transmissionType"], priceAccessories = Request["priceAccessories"] == null ? "" : Request["priceAccessories"] })">Price</a></li>
                                                <li><a href="@Url.Action("ListProduct/Accessories", "Home", new { o = "New", brand = Request["brand"] == null ? "" : Request["brand"], transmissionType = Request["transmissionType"] == null ? "" : Request["transmissionType"], priceAccessories = Request["priceAccessories"] == null ? "" : Request["priceAccessories"] })">New</a></li>
                                            </ul>
                                        }
                                    </li>
                                </ul>
                                <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a>
                            </div>
                        </div>
                        <div class="category-products">
                            <ol class="products-list" id="products-list">
                                @if (!string.IsNullOrEmpty(notifyNoResult))
                                {
                                    <h2>@notifyNoResult</h2>
                                }
                                @foreach (var item in Model)
                                {
                                    <li class="item first" style="padding:10px">
                                        <div class="product-image">
                                            <a href="@Url.Action("ProductDetail", "Home", new { id = item.Id })"> <img style="margin-top:10px" class="small-image" src="@("data:image;base64," + @item.UrlImages.First())" alt="@item.ProductName"> </a>
                                        </div>
                                        <div class="product-shop">
                                            @Html.ActionLink(item.ProductName, "ProductDetail", new { id = item.Id }, new { @style = "font-weight:bold" })
                                            @*<div class="ratings">
                                                    <div class="rating-box">
                                                        <div style="width:50%" class="rating"></div>
                                                    </div>
                                                    <p class="rating-links"> <a href="#/review/product/list/id/167/category/35/">1 Review(s)</a> <span class="separator">|</span> <a href="#review-form">Add Your Review</a> </p>
                                                </div>*@
                                            <div class="desc std">
                                                <p>
                                                    @item.Descriptions
                                                </p>
                                            </div>
                                            <div class="price-box">
                                                <p class="special-price"> <span class="price-label"></span> <span id="product-price-212" class="price">$@Html.DisplayFor(modelItem => item.Price)</span> </p>
                                            </div>
                                            <div class="actions">
                                                <a href="@Url.Action("AddToCart", "Home", new { id = item.Id })"><button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button></a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ol>
                        </div>
                        <div class="toolbar bottom">
                            <div class="pages">
                                <label>Page:</label>
                                <div class="pagination">
                                    @if (urlCurrent.Contains("Car"))
                                    {
                                        @Html.PagedListPager(Model, page => Url.Action("ListProduct/Car", "Home", new { o = Request["o"] == null ? "" : Request["o"], brand = Request["brand"] == null ? "" : Request["brand"], transmissionType = Request["transmissionType"] == null ? "" : Request["transmissionType"], priceCar = Request["priceCar"] == null ? "" : Request["priceCar"], page }))
                                    }
                                    else if (urlCurrent.Contains("Accessories"))
                                    {
                                        @Html.PagedListPager(Model, page => Url.Action("ListProduct/Accessories", "Home", new { o = Request["o"] == null ? "" : Request["o"], brand = Request["brand"] == null ? "" : Request["brand"], transmissionType = Request["transmissionType"] == null ? "" : Request["transmissionType"], priceCar = Request["priceCar"] == null ? "" : Request["priceCar"], page }))
                                    }
                                </div>
                            </div>
                        </div>

                    </article>
                </div>
                <!--	///*///======    End article  ========= //*/// -->
            </div>
            <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated">
                @if (urlCurrent.Contains("Car"))
                {
                    <div class="section-filter">
                        <div class="b-filter__inner bg-grey">
                            <h2>Find Car</h2>
                            <form class="b-filter" action="/Home/ListProduct/Car?">
                                <div class="btn-group bootstrap-select" style="width: 100%;">
                                    <label style="color:white !important">Brand Name</label>
                                    <select class="selectpicker" name="brand" data-width="100%" tabindex="-98">
                                        @foreach (var item in listBrands)
                                        {
                                            <option @(Request["brand"] == item.BrandName ? "selected" : "")>@item.BrandName</option>
                                        }
                                    </select>
                                </div>
                                <div class="btn-group bootstrap-select" style="width: 100%;">
                                    <label style="color:white !important">Tranmission Type</label>
                                    <select class="selectpicker" name="transmissionType" data-width="100%" tabindex="-98">
                                        @foreach (var item in Enum.GetValues(typeof(EnumTransmissionType)))
                                        {
                                            <option @(Request["transmissionType"] == item.ToString() ? "selected" : "")>@item</option>
                                        }
                                    </select>
                                </div>
                                <div class="ui-filter-slider">
                                    <div class="sidebar-widget-body m-t-10">
                                        <div class="price-range-holder">
                                            <span class="min-max"> <span class="pull-left">@minPriceCar</span> <span class="pull-right">@maxPriceCar</span> </span>
                                            <input type="text" class="price-slider" name="priceCar" value="@minPriceCar, @maxPriceCar" style="display:block">
                                            <input type="hidden" id="minPriceCarHidden" value="@minPriceCar" />
                                            <input type="hidden" id="maxPriceCarHidden" value="@maxPriceCar" />
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="b-filter__btns">
                                        <button type="submit" class="btn btn-lg btn-primary">search vehicle</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                }
                @if (urlCurrent.Contains("Accessories"))
                {
                    <div class="section-filter">
                        <div class="b-filter__inner bg-grey">
                            <h2>Find Accessories</h2>
                            <form class="b-filter" action="/Home/ListProduct/Accessories?">
                                <div class="btn-group bootstrap-select" style="width: 100%;">
                                    <select class="selectpicker" name="brand" data-width="100%" tabindex="-98">
                                        @foreach (var item in listBrands)
                                        {
                                            <option @(Request["brand"] == item.BrandName ? "selected" : "")>@item.BrandName</option>
                                        }
                                    </select>
                                </div>
                                <div class="btn-group bootstrap-select" style="width: 100%;">
                                    <select class="selectpicker" data-width="100%" tabindex="-98">
                                        <option hidden>-Update in future-</option>
                                        <option>Type 1</option>
                                        <option>Type 2</option>
                                        <option>Type 3</option>
                                        <option>Type 3</option>
                                    </select>
                                </div>
                                <div class="ui-filter-slider">
                                    <div class="sidebar-widget-body m-t-10">
                                        <div class="price-range-holder">
                                            <span class="min-max"> <span class="pull-left">@minPriceAccessories</span> <span class="pull-right">@maxPriceAccessories</span> </span>
                                            <input type="text" class="price-slider price-accessories-slider" name="priceAccessories" value="@minPriceAccessories, @maxPriceAccessories" style="display:block">
                                            <input type="hidden" id="minPriceAccessoriesHidden" value="@minPriceAccessories" />
                                            <input type="hidden" id="maxPriceAccessoriesHidden" value="@maxPriceAccessories" />
                                        </div>
                                        <!-- /.price-range-holder -->
                                    </div>
                                </div>
                                <div>
                                    <div class="b-filter__btns">
                                        <button type="submit" class="btn btn-lg btn-primary">search vehicle</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                }
                <!-- BEGIN SIDE-NAV-CATEGORY -->
                <div class="side-nav-categories">
                    <div class="block-title"> Categories </div>
                    <!--block-title-->
                    <!-- BEGIN BOX-CATEGORY -->
                    <!--<div class="box-content box-category">
                        <ul>
                            <li style="list-style-type:none">
                                <a class="active" href="#">Categorie 1</a> <span class="subDropdown minus"></span>
                                <ul class="level0_415" style="display:block">
                                    <li>
                                        <a href="#"> Item 1 </a> <span class=""></span>-->

                                        <!--level1-->
                                    <!--</li>-->
                                    <!--level1-->
                                    <!--<li>
                                        <a href="#"> Item 2‎ </a> <span class=""></span>-->

                                        <!--level1-->
                                    <!--</li>-->
                                    <!--level1-->
                                    <!--<li>
                                        <a href="#"> Item 3 </a> <span class=""></span>-->

                                        <!--level1-->
                                    <!--</li>-->
                                    <!--level1-->
                                <!--</ul>-->
                                <!--level1-->
                            <!--</li>
                        </ul>-->
                        <!--level0-->
                        <!--level 0-->
                        <!--<ul>
                            <li>
                                <a href="#">Categorie 2</a> <span class="subDropdown plus"></span>
                                <ul class="level0_455" style="display:none">
                                    <li>
                                        <a href="#"> Item 1 </a> <span class=""></span>-->
                                        <!--level1-->
                                    <!--</li>-->
                                    <!--level1-->
                                    <!--<li>
                                        <a href="#"> Item 2  </a> <span class=""></span>-->
                                        <!--level1-->
                                    <!--</li>-->
                                    <!--level1-->
                                    <!--<li>
                                        <a href="#"> Item 3 </a> <span class=""></span>-->
                                        <!--level1-->
                                    <!--</li>-->
                                    <!--level1-->
                                    <!--level1-->
                                <!--</ul>
                            </li>
                        </ul>-->
                        <!--level 0-->
                        <!--<ul>
                            <li>
                                <a href="#">Categorie 3</a> <span class="subDropdown plus"></span>
                                <ul class="level0_482" style="display:none">
                                    <li>
                                        <a href="#"> Item 1 </a> <span class=""></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>-->
                        <!--level1-->
                        <!--<ul>
                            <li>
                                <a href="#">INTERIOR</a> <span class="subDropdown plus"></span>
                                <ul class="level0_482" style="display:none">
                                    <li> <a href="#"> Custom Gauges </a> <span class=""></span></li>
                                    <li> <a href="#"> Dash Kits </a> <span class=""></span></li>
                                    <li> <a href="#"> Seat Covers </a> <span class=""></span></li>
                                    <li> <a href="#"> Steering Wheels </a> <span class=""></span></li>
                                    <li> <a href="#"> Sun Shades</a> <span class=""></span></li>
                                </ul>
                            </li>
                        </ul>-->
                        <!--level 0-->
                        <!--<ul>
                            <li>
                                <a href="#">LIGHTING</a> <span class="subDropdown plus"></span>
                                <ul class="level0_482" style="display:none">
                                    <li> <a href="#"> Fog Lights </a> <span class=""></span></li>
                                    <li> <a href="#"> Headlights </a> <span class=""></span></li>
                                    <li> <a href="#"> LED Lights </a> <span class=""></span></li>
                                    <li> <a href="#">Off-Road Lights </a> <span class=""></span></li>
                                    <li> <a href="#"> Signal Lights</a> <span class=""></span></li>
                                </ul>
                            </li>
                        </ul>-->
                        <!--level 0-->
                        <!--<ul>
                            <li>
                                <a href="#">PERFORMANCE</a> <span class="subDropdown plus"></span>
                                <ul class="level0_482" style="display:none">
                                    <li> <a href="#"> Air Intake Systems </a> <span class=""></span></li>
                                    <li> <a href="#"> Brakes </a> <span class=""></span></li>
                                    <li> <a href="#"> Exhaust Systems </a> <span class=""></span></li>
                                    <li> <a href="#">Power Adders </a> <span class=""></span></li>
                                    <li> <a href="#"> Racing Gear</a> <span class=""></span></li>
                                </ul>
                            </li>
                        </ul>-->
                        <!--level 0-->
                    <!--</div>-->
                    <!--box-content box-category-->
                </div>
                <!--side-nav-categories-->

                <div class="custom-slider">
                    <div>
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li class="active" data-target="#carousel-example-generic" data-slide-to="0"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/Content/images/slide1.jpg" alt="slide3">
                                    <div class="carousel-caption">
                                        <h3><a title=" Sample Product" href="product-detail.html">50% OFF</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a class="link" href="#">Buy Now</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="~/Content/images/slide2.jpg" alt="slide1">
                                    <div class="carousel-caption">
                                        <h3><a title=" Sample Product" href="product-detail.html">Hot collection</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="~/Content/images/slide3.jpg" alt="slide2">
                                    <div class="carousel-caption">
                                        <h3><a title=" Sample Product" href="product-detail.html">Summer collection</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="sr-only">Next</span> </a>
                        </div>
                    </div>
                </div>
            </aside>
            <!--col-right sidebar-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</section>

