@model eProject3_Vehicle_Showroom_Management.Models.DTO.ProductDTO

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listRatings = ViewBag.ListRating;
    var countRatings = listRatings.Count;
    var listProductRelated = ViewBag.ListProductRelated;
}
<style>
    .content {
        display: none;
    }

    #loadMore {
        text-align: center;
        font-weight: 700;
        animation: blur .75s ease-out;
        text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
    }
</style>
<div class="page-heading">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li class="home"> <a href="index-2.html" title="Go to Home Page">Home</a> <span>&rsaquo; </span> </li>
                        <li class="category1599"> <a href="grid.html" title="">New Car</a> <span>&rsaquo; </span> </li>
                        <li class="category1600"> <a href="grid.html" title="">Audi</a> <span>&rsaquo; </span> </li>
                        <li class="category1601"> <strong>Sedans</strong> </li>
                    </ul>
                </div>
                <!--col-xs-12-->
            </div>
            <!--row-->
        </div>
        <!--container-->
    </div>
    <div class="page-title">
        <h2>PRODUCT Detail</h2>
        <h1 style="background-color: #ffd83b;">@Model.ProductName</h1>
    </div>
</div>

<div class="main-container col1-layout wow bounceInUp animated">
    <div class="main">
        <div class="col-main">
            <!-- Endif Next Previous Product -->
            <div class="product-view wow bounceInUp animated" itemscope="" itemtype="http://schema.org/Product" itemid="#product_base">
                <div id="messages_product_view"></div>
                <!--product-next-prev-->
                <div class="product-essential container">
                    <div class="row">
                        <form action="#" method="post" id="product_addtocart_form">
                            <!--End For version 1, 2, 6 -->
                            <!-- For version 3 -->
                            <div class="product-img-box col-lg-5 col-sm-5 col-xs-12">
                                <div class="new-label new-top-left">Hot</div>
                                <div class="sale-label sale-top-left">-15%</div>
                                <div class="product-image">
                                    <div class="product-full"> <img id="product-zoom1" src="@("data:image;base64," + @Model.UrlImages.First())" data-zoom-image="@("data:image;base64," + @Model.UrlImages.First())" alt="product-image" /> </div>
                                    <div class="more-views">
                                        <div class="slider-items-products">
                                            <div id="gallery_02" class="product-flexslider hidden-buttons product-img-thumb">
                                                <div class="slider-items slider-width-col4 block-content">
                                                    @foreach (var item in Model.UrlImages)
                                                    {
                                                        <div class="more-views-items"> <a href="#" data-image="@("data:image;base64," + item)" data-zoom-image="@("data:image;base64," + item)"> <img id="product-zoom0" src="@("data:image;base64," + item)" alt="product-image" /> </a></div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: more-images -->
                                <div class="toll-free"><a href="#"><i class="fa fa-phone"></i> +1 800 789 0000</a></div>
                                <div class="ask-question"><a href="#" onClick="ShowMe();"><i class="fa fa-question"></i> Ask a Question</a></div>
                                <div class="request-call"><a href="#" onClick="ShowMe1();"><i class="fa fa-money"></i> Finance Calculator</a></div>
                            </div>
                            <!--End For version 1,2,6-->
                            <!-- For version 3 -->
                            <div class="product-shop col-lg- col-sm-7 col-xs-12">
                                <div class="brand">@Model.Brand</div>
                                <div class="product-name">
                                    <h1>Gorgeous Mercedes-Benz E-Class All-Terrain Luxury </h1>
                                </div>
                                <div class="ratings">
                                    @for (var i = 0; i < Model.Rating; i++)
                                    {
                                        <span class="fa fa-star rating-checked" style="color: #f1c40f; font-size: 15px;"></span>
                                    }
                                    <p class="rating-links"> | <a href="#">@countRatings Review</a> <span class="separator">|</span> <a href="#">Add Your Review</a> </p>
                                </div>
                                <div class="price-block">
                                    <div class="price-box">

                                        <p class="special-price"> <span class="price-label">Special Price</span> <span id="product-price-48" class="price">$@Model.Price</span> </p>
                                    </div>
                                </div>

                                <div class="spec-row" id="summarySpecs">
                                    <h2>Specifications</h2>
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td class="label-spec"> Brand <span class="coln">:</span></td>
                                                <td class="value-spec"> @Model.Brand </td>
                                            </tr>
                                            <tr>
                                                <td class="label-spec"> Type <span class="coln">:</span></td>
                                                <td class="value-spec"> @Model.ProductType </td>
                                            </tr>
                                            <tr class="odd">
                                                <td class="label-spec"> Transmission <span class="coln">:</span></td>
                                                <td class="value-spec"> @Model.TransmissionType </td>
                                            </tr>
                                            <tr>
                                                <td class="label-spec"> Model <span class="coln">:</span></td>
                                                <td class="value-spec"> @Model.YearOfManufacture </td>
                                            </tr>
                                            <tr>
                                                <td class="label-spec"> Seats <span class="coln">:</span></td>
                                                <td class="value-spec"> @Model.Seats </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="email-addto-box">
                                    <ul class="add-to-links">
                                        <li> <a class="link-wishlist" href="wishlist.html"><span>Add to Wishlist</span></a></li>
                                        <li><a class="link-compare" href="compare.html"><span>Add to Compare</span></a></li>
                                    </ul>
                                    <p class="email-friend"><a href="#" class=""><span>Email to a Friend</span></a></p>
                                </div>
                                <div class="social">
                                    <ul class="link">
                                        <li class="fb"><a href="#"></a></li>
                                        <li class="tw"><a href="#"></a></li>
                                        <li class="googleplus"><a href="#"></a></li>
                                        <li class="rss"><a href="#"></a></li>
                                        <li class="pintrest"><a href="#"></a></li>
                                        <li class="linkedin"><a href="#"></a></li>
                                        <li class="youtube"><a href="#"></a></li>
                                    </ul>
                                </div>
                                <ul class="shipping-pro">
                                    <li>Free Servicing</li>
                                    <li>Free Monthly Checkup</li>
                                    <li>Extended Warrenty</li>
                                </ul>
                            </div>
                            <!--product-shop-->
                            <!--Detail page static block for version 3-->
                        </form>
                    </div>
                </div>
                <!--product-essential-->
                <div class="product-collateral container">
                    <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                        <li class="active"> <a href="#product_tabs_description" data-toggle="tab"> Vehicle Overview </a> </li>
                        <li> <a href="#product_tabs_custom" data-toggle="tab">Accessories</a> </li>
                        <li> <a href="#reviews_tabs" data-toggle="tab">Reviews</a> </li>
                    </ul>
                    <div id="productTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="product_tabs_description">
                            <div class="std">
                                <p>@Model.Descriptions</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="reviews_tabs">
                            <div class="woocommerce-Reviews">
                                <h2 class="woocommerce-Reviews-title"><span id="count_comment">@countRatings</span> reviews</h2>
                                <div class="feedback_custom">
                                    @foreach (var comment in listRatings)
                                    {
                                        <ol class="commentlist content">
                                            <li class="comment">
                                                <div>
                                                    <img alt="" src="~/Content/images/member1.png" class="avatar avatar-60 photo">
                                                    <div class="comment-text">
                                                        <div class="ratings">
                                                            @for (var i = 0; i < comment.Rating1; i++)
                                                            {
                                                                <span class="fa fa-star rating-checked" style="color: #f1c40f; font-size: 15px;"></span>
                                                            }
                                                        </div>
                                                        <p class="meta" style="margin:0"> <strong>@comment.Customer.Fullname</strong> </p>
                                                        <div class="description">
                                                            <p class="text-secondary" style="margin:0; font-size:12px">@comment.CreatedDate</p>
                                                            <p>@comment.Comments</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                    }
                                </div>
                                @if (countRatings > 4)
                                {
                                    <a href="#" id="loadMore" style="display:block; text-decoration:none">Load more comments</a>
                                }
                                else
                                {
                                    <a href="#" id="loadMore" style="display:none; text-decoration:none">Load more comments</a>
                                }
                                <div>
                                    <div>
                                        <div class="comment-respond">
                                            <span class="comment-reply-title">Add a review </span>
                                            <form action="#" method="post" class="comment-form" novalidate>
                                                <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                                                <div class="comment-form-rating">
                                                    <label id="rating">Your rating</label>
                                                    <p class="stars"> <span> <a class="star-1 rating_star">1</a> <a class="star-2 rating_star">2</a> <a class="star-3 rating_star">3</a> <a class="star-4 rating_star">4</a><a class="star-5 rating_star">5</a> </span> </p>
                                                </div>
                                                <p class="comment-form-comment">
                                                    <label>Your review <span class="required">*</span></label>
                                                    <textarea id="comment" name="comment" cols="45" rows="8" required></textarea>
                                                </p>
                                                <p class="form-submit">
                                                    <input name="submit" type="button" id="submit" class="submit" value="Submit">
                                                </p>
                                            </form>
                                        </div>
                                        <!-- #respond -->
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="product_tabs_custom">
                            <div class="spec-row" id="summarySpecs">
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="label-spec"> Air Conditioner <span class="coln">:</span></td>
                                            <td class="value-spec"> <i class="fa fa-check-circle"></i> </td>
                                        </tr>
                                        <tr>
                                            <td class="label-spec"> AntiLock Braking System <span class="coln">:</span></td>
                                            <td class="value-spec"> <i class="fa fa-check-circle"></i> </td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="label-spec"> Power Steering <span class="coln">:</span></td>
                                            <td class="value-spec"> <i class="fa fa-check-circle"></i> </td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="label-spec"> Power Windows <span class="coln">:</span></td>
                                            <td class="value-spec"> <i class="fa fa-check-circle"></i> </td>
                                        </tr>
                                        <tr>
                                            <td class="label-spec"> CD Player <span class="coln">:</span></td>
                                            <td class="value-spec"> <i class="fa fa-check-circle"></i> </td>
                                        </tr>
                                        <tr>
                                            <td class="label-spec"> Leather Seats <span class="coln">:</span></td>
                                            <td class="value-spec"> <i class="fa fa-check-circle"></i> </td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="label-spec"> Central Locking <span class="coln">:</span></td>
                                            <td class="value-spec"> <i class="fa fa-check-circle"></i> </td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="label-spec"> Power Door Locks <span class="coln">:</span></td>
                                            <td class="value-spec"> <i class="fa fa-check-circle"></i> </td>
                                        </tr>
                                        <tr>
                                            <td class="label-spec"> Brake Assist <span class="coln">:</span></td>
                                            <td class="value-spec"> <i class="fa fa-check-circle"></i> </td>
                                        </tr>
                                        <tr>
                                            <td class="label-spec"> Driver Airbag <span class="coln">:</span></td>
                                            <td class="value-spec"> <i class="fa fa-check-circle"></i> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="product_tabs_custom1">
                            <div class="product-tabs-content-inner clearfix">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor, lorem et placerat vestibulum, metus nisi posuere nisl, in accumsan elit odio quis mi. Cras neque metus, consequat et blandit et, luctus a nunc. Etiam gravida vehicula tellus, in imperdiet ligula euismod eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam erat mi, rutrum at sollicitudin rhoncus, ultricies posuere erat. Duis convallis, arcu nec aliquam consequat, purus felis vehicula felis, a dapibus enim lorem nec augue.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--product-collateral-->
                <div class="box-additional">
                    <!-- BEGIN RELATED PRODUCTS -->
                    <div class="related-pro container">
                        <div class="slider-items-products">
                            <div class="new_title center">
                                <h2>Related Products</h2>
                            </div>
                            <div id="related-slider" class="product-flexslider hidden-buttons">
                                <div class="slider-items slider-width-col4 products-grid">
                                    @foreach (var item in listProductRelated)
                                    {
                                        <div class="item">
                                            <div class="item-inner">
                                                <div class="item-img">
                                                    <div class="item-img-info">
                                                        <a href="/Home/ProductDetail/@item.Id" title="@item.ProductName" class="product-image"><img src="@("data:image;base64,"+@item.Images[0].UrlImage)" alt="@item.ProductName"></a>
                                                        <div class="new-label new-top-left">Used</div>
                                                        <div class="sale-label sale-top-left">-15%</div>
                                                        <div class="item-box-hover">
                                                            <div class="box-inner">
                                                                <div class="add_cart">
                                                                    <button class="button btn-cart" type="button"></button>
                                                                </div>
                                                                <div class="product-detail-bnt"><a class="button detail-bnt"><span>Quick View</span></a></div>
                                                                <div class="actions"><span class="add-to-links"><a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> </span> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-info">
                                                    <div class="info-inner">
                                                        <div class="item-title"><a href="product-detail.html" title="Retis lapen casen">@item.ProductName</a> </div>
                                                        <div class="item-content">
                                                            <div class="rating">
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:80%"></div>
                                                                    </div>
                                                                    <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                                </div>
                                                            </div>
                                                            <div class="item-price">
                                                                <div class="price-box"><span class="regular-price"><span class="price">@item.Price</span> </span> </div>
                                                            </div>
                                                            <div class="other-info">
                                                                <div class="col-km"><i class="fa fa-buysellads"></i>@item.Seats</div>
                                                                <div class="col-engine"><i class="fa fa-gear"></i>@item.Brand.BrandName</div>
                                                                <div class="col-date"><i class="fa fa-calendar" aria-hidden="true"></i>@item.YearOfManufacture</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end related product -->
                </div>
                <!-- end related product -->
            </div>
            <!--box-additional-->
            <!--product-view-->
        </div>
    </div>
    <!--col-main-->
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        var rating = 0;
        var productId = '@ViewBag.ProductId';
        $(document).ready(function () {
            $(".rating_star").click(function () {
                $(".rating_star").css('color',"");
                $(this).css("color", "yellow");
                //alert($(this).text());
                rating = parseInt($(this).text());
            });

            $("#submit").click(function () {
                if (rating == 0) {
                    ShowAlert('Missing information !!!', 'You must choose rating from 1-5', 'warning')
                    return;
                }
                var comment = $("#comment").val();
                //alert(comment+ rating);
                var obj = {
                    Rating : rating,
                    Comments: comment,
                    ProductId: productId
                };
                //console.log(obj);
                $.ajax({
                    url: '/Ratings/AddNewRating',
                    type: 'POST',
                    async: false,
                    data: JSON.stringify(obj),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (res) {
                        toastr.options = {
                            "timeOut": 2000
                        }
                        toastr.success(res.message);
                        $('#count_comment').html(res.number);
                        var star = "";
                        for (var i = 0; i < rating; i++) {
                            star += '<span class="fa fa-star rating-checked" style="color: #f1c40f; font-size: 15px;"></span>';
                        }
                        var new_cmt = `<ol class="commentlist content" style = "display:block">
                                        <li class="comment">
                                            <div>
                                                <img alt="" src="/Content/images/member1.png" class="avatar avatar-60 photo">
                                                <div class="comment-text">
                                                    <div class="ratings">`
                                                    + star +
                                                    `</div>
                                                    <p class="meta" style="margin:0"> <strong>You</strong> </p>
                                                    <div class="description">
                                                        <p class="text-secondary" style="margin:0; font-size:12px">`+ moment().format('DD/MM/YYYY HH:mm:ss') + `</p>
                                                        <p>`+ comment + `</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>`;
                        $('.feedback_custom').prepend(new_cmt);
                        $("#comment").val("");
                        $(".rating_star").css('color', '');
                        var count = $(".feedback_custom").children(".commentlist").length;
                        if (count > 4) {
                            $('a#loadMore').css("display", 'block').text("Show less").addClass("noContent");;
                        }
                        rating = 0;
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //alert(msg.responseText);
                        if (JSON.parse(xhr.responseText) == "You must login first") {
                            Swal.fire({
                                title: 'Unauthorize'
                                , text: "You must login to add feedback for this product"
                                , icon: 'warning'
                                , showCancelButton: true
                                , confirmButtonColor: '#3085d6'
                                , cancelButtonColor: '#d33'
                                , cancelButtonText: 'Close'
                                , confirmButtonText: 'Login'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    var url = '@Url.Action("Index", "LoginClient")';
                                    window.location.href = url;
                                }
                            });
                        }
                    }
                });
            });
            $(".content").slice(0, 4).show();
            $("#loadMore").on("click", function (e) {
                e.preventDefault();
                //console.log($(this).text());
                if ($(this).text() == "Load more comments") {
                    $(".content:hidden").slice(0, 4).slideDown();
                    if ($(".content:hidden").length == 0) {
                        $("#loadMore").text("Show less").addClass("noContent");
                    }
                } else {

                    var count = $(".feedback_custom").children(".commentlist").length;
                    //console.log(count);
                    //console.log($(".feedback_custom").children(".commentlist"));
                    $(".content").slice(4, count).slideUp();
                    $("#loadMore").text("Load more comments").removeClass("noContent");
                }
            });
        });
        function ShowAlert(title, text, icon) {
            Swal.fire({
                title: title
                , text: text
                , icon: icon
            });
        }
    </script>
}

